@font-face { font-family: 'roboto'; src: url('/fonts/roboto-thin.ttf');}
h1{
    font-family: 'roboto', sans-serif;
}
h2{
    font-family: 'roboto', sans-serif;
}
h4{
    font-family: 'roboto', sans-serif;
}
.body{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgb(224, 224, 224);
    width: 1024px;
    height: 2000px;
    border-radius: 25px;
    box-shadow: 0 0 50px #808080;
    font-family: 'roboto', sans-serif;
}
.bloc1{
    height: 300px;
}
.foto{
    width: 300px;
    float: left;
    font-family: 'roboto', sans-serif;
}
.name{
    width: 424px;
    float: left;
    padding-top: 50px;
    font-family: 'roboto', sans-serif;
}
.foto_img{
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 50px;
    box-shadow: 0 0 20px #808080;
    transition: filter .7s ease-in-out; 
    filter: grayscale(100%);  
}
.foto_img:hover {
    filter: grayscale(0%);  
}
.language{
    width: 300px;
    float: left;
    margin-top: 50px;
}
.language h4{
    text-align:center;
}
.language ul{
    list-style-type:none;
    position: relative;
    left: 57px;
    line-height: 20px;
}
.bloc2{
    height: 200px;
}
.contacts{
    width: 250px;
    float: left;
    margin-left: 50px;
}
.about_myself {
    width: 650px;
    float: left;
    position: relative;
    text-align: center;
    background-color: #A7CEDE;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 50px #808080;
}
.about_myself:before,
.about_myself:after {
    content: '';
    position: absolute;
}
.about_myself:before {
    left: 10px;
    top: -50px;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #A7CEDE; 
    transform: skew(20deg);
    
}
.about_myself h4{
    position: absolute;
    top: -46px;
    left: 75px;
}
.ul_contacts{
    list-style-type:none;
    position: relative;
    left: -38px;
    top: -20px;
}
.img_contacts{
    position: relative;
    top: 4px;
    left: -3px;
    
}
.bloc3{
    height: 200px;
}
.bloc3 h2{
    text-align: center;
}
.img_scale{
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50px;
}
.p1{
    position: relative;
    top: -90px;
    right: -30px;
}
.p2{
    position: relative;
    top: -125px;
    right: -240px;
}
.p3{
    position: relative;
    top: -75px;
    right: -350px;
}
.p4{
    position: relative;
    top: -233px;
    right: -488px;
}
.p5{
    position: relative;
    top: -288px;
    right: -600px;
}
.p6{
    position: relative;
    top: -344px;
    right: -740px;
}
.p7{
    position: relative;
    top: -293px;
    right: -510px;
}
.p8{
    position: relative;
    top: -350px;
    right: -65px;
}
.p9{
    position: relative;
    top: -385px;
    right: -924px;
}
.bloc4{
    height: 300px;
}
.bloc4 h2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
