@font-face { font-family: 'roboto'; src: url('../resume/fonts/roboto-thin.ttf');}
h1{
    font-family: 'roboto', sans-serif;
}
h2{
    font-family: 'roboto', sans-serif;
}
h4{
    font-family: 'roboto', sans-serif;
}
body{
    background-color: rgb(228, 228, 228);
    margin: 0; padding: 0;
}
.top_bar{
    height: 50px;
    width: 100%;
    background-color: #A6CDD8;
    display: flex;
    align-items: center;
    justify-content: right;
}
.locale-switcher{
    margin: 50px;
    height: 30px;
}
.body{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 1024px;
    height: 1150px;
    border-radius: 5px;
    font-family: 'roboto', sans-serif;
}
.bloc1{
    height: 300px;
    width: 100%;
}
.foto{
    width: 30%;
    float: left;
    height: 100%;
}
.name{
    width: 40%;
    float: left;
    padding-top: 50px;
}
.foto_img{
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 50px;
    transition: filter .7s ease-in-out; 
    filter: grayscale(100%);  
}
.foto_img:hover {
    filter: grayscale(0%);  
}
.language{
    width: 30%;
    float: left;
    margin-top: 50px;
    text-align: center;
}
.language h4{
    text-align:center;
    position: relative;
    top: 20px;
}
.language ul{
    list-style-type:none;
    padding: 0;
}
.icon_flag{
    position: relative;
    top: 7px;
    right: 5px;

}
.url_not_underline{
    text-decoration: none;
}
.bloc2{
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
}
.bloc2 h4{
    text-align: center;
}
.contacts{
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
}
.ul_contacts{
    list-style-type:none;
    padding: 0;
    text-align: left;
    margin-left: 20%;
}
.img_contacts{
    position: relative;
    top: 4px;
    margin-right: 3px;
    transition: 1s;
}
.img_contacts:hover{
    transform: scale(1.2);
}
.icon_other{
    padding-left: 25px;
}
.icon_other_img{
    transition: 1s;
    height: 30px;
    width: 30px;
    padding: 10px;
}
.icon_other_img:hover{
    transform: scale(1.2);
}
.about_myself {
    width: 650px;
    float: left;
    position: relative;
    text-align: left;
    background-color: #A7CEDE;
    border-radius: 3px;
    padding: 20px;
}
.about_myself::before,
.about_myself::after {
    content: '';
    position: absolute;
}
.about_myself::before {
    left: 10px;
    top: -50px;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #A7CEDE; 
    transform: skew(20deg);
    
}
.about_myself h4{
    text-align: left;
    position: absolute;
    top: -46px;
    left: 75px;
}
table{
    width: 100%;
}
th {
    padding: 10px;
    text-align: left;
}
tr:nth-child(odd) {
    background: white;
}
tr:nth-child(even) {
    background: #A7CEDE;
}
.bloc3 h2{
    text-align: center;
}
.img_scale{
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50px;
}
.bloc4{
    height: 300px;
}
.bloc4 h2{
    text-align: center;
}
.icon_img{
    padding: 30px;
    padding-bottom: 20px;
    transition: 1s;
    height: 65px;
    width: 65px;
}
.icon_img:hover{
    transform: scale(1.2);
}
#bloc4{
    text-align: center;
}
