.p1{
    position: relative;
    top: -90px;
    right: -30px;
}
.p2{
    position: relative;
    top: -125px;
    right: -250px;
}
.p3{
    position: relative;
    top: -75px;
    right: -350px;
}
.p4{
    position: relative;
    top: -250px;
    right: -488px;
}
.p5{
    position: relative;
    top: -304px;
    right: -600px;
}
.p6{
    position: relative;
    top: -359px;
    right: -760px;
}
.p7{
    position: relative;
    top: -310px;
    right: -520px;
}
.p8{
    position: relative;
    top: -370px;
    right: -65px;
}
.p9{
    position: relative;
    top: -405px;
    right: -924px;
}