@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

body {
  background-color: black;
  padding: 10px;
  font-size: 26px;
}

*,
*::before,
*::after {
  font-family: 'Tiny5', monospace !important;
  font-size: 26px !important;
}
